modules = ["go"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "GoTestTutorial"

[[workflows.workflow]]
name = "GoTestTutorial"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "BUILD_DATE=$(date -u +\"%Y-%m-%d\") && GIT_COMMIT=\"dev\" && go build -ldflags \"-X go-test-tutorial/cmd.Version=dev -X go-test-tutorial/cmd.BuildDate=$BUILD_DATE -X go-test-tutorial/cmd.GitCommit=$GIT_COMMIT\" -o gotest-learn && ./gotest-learn version"

[deployment]
run = ["sh", "-c", "go mod init go-test-tutorial && go get github.com/spf13/cobra && go build -o gotest-learn && ./gotest-learn"]
